@tailwind base;
@tailwind components;
@tailwind utilities;
@import "flowbite";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  body {
    @apply dark:bg-gray-800 bg-white;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  transition: background-color 0.5s ease;
}

.dark body {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

.light body {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.dark-mode-toggle {
  background-color: #f3f4f6;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.dark-mode-toggle:hover {
  background-color: #e5e7eb;
}

.dark .dark-mode-toggle {
  background-color: #1f2937;
  color: #f3f4f6;
}

.dark .dark-mode-toggle:hover {
  background-color: #374151;
}

.dark .dark-mode-toggle {
  background-color: #1f2937;
  color: #f3f4f6;
}

.dark .dark-mode-toggle:hover {
  background-color: #374151;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  padding-bottom: 2%;
  height: 0;
  overflow: hidden;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1600px; 
  margin: 0 auto;
  padding: 0 2rem;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 1.5rem;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 1rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }
}

@media (max-width: 450px) {
  .container {
    padding: 0 0.25rem;
  }
}

@media (max-width: 375px) {
  .container {
    padding: 0 0.2rem;
  }
}

@media (max-width: 320px) {
  .container {
    padding: 0 0.1rem;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

@media (max-width: 768px) {
  .flex-col-md {
    flex-direction: column;
  }

  .flex-row-md {
    flex-direction: row;
  }
}

@media (max-width: 450px) {
  .text-xs {
    font-size: 0.75rem;
  }

  .text-sm {
    font-size: 0.875rem;
  }

  .text-base {
    font-size: 1rem;
  }
}

@media (max-width: 375px) {
  .text-xs {
    font-size: 0.75rem;
  }

  .text-sm {
    font-size: 0.875rem;
  }

  .text-base {
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  .text-xs {
    font-size: 0.75rem;
  }

  .text-sm {
    font-size: 0.875rem;
  }

  .text-base {
    font-size: 1rem;
  }
}

@media (min-width: 2560px) {
  .text-xl {
    font-size: 1.5rem;
  }

  .text-2xl {
    font-size: 2rem;
  }

  .text-3xl {
    font-size: 2.5rem;
  }

  .text-4xl {
    font-size: 3rem;
  }

  .p-24 {
    padding: 6rem;
  }

  .px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .hover\:text-blue-500:hover {
    color: #a2d5ab; 
  }

  .prose {
    font-size: 1.25rem;
  }

  .section-heading {
    font-size: 1.5rem; /* Tailwind's text-xl */
    font-weight: 600; /* Tailwind's font-semibold */
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: color 0.3s;
  }


  .section-heading:hover {
    color: #a2d5ab; 
  }

  .citations-list {
    list-style-type: disc;
    list-style-position: inside;
    margin-left: 1rem; 
  }

  .citations-list li {
    padding-left: 1rem; 
  }

  .text-left {
    text-align: left;
  }

  .transition-all {
    transition: all 0.5s ease;
  }

  .overflow-hidden {
    overflow: hidden;
  }

  .max-h-0 {
    max-height: 0;
  }

  .max-h-screen {
    max-height: 100vh;
  }
}
